* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rebeccapurple;
}

.slider {
  width: 50%;
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.slides {
  margin-top: 5rem;
  display: flex;
  width: 400%;
}

.img {
  height: 30rem;
  width: 25%;
  transition: all .7s ease;
}
.slide {
}
.info {
  width: 50%;
  overflow: hidden;
}
.textWrapper {
  display: flex;
  width: 400%;
}

.text {
  width: 25%;
  height: 1rem;
  color: aliceblue;
  transition: all .7s ease;
}
.dots {
  display: flex;
}
.dot {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  border: 0.1rem solid #fff;
  padding: 0.4em;
  margin: 0.2rem;
  background-color: #fff;
}
.dot:hover {
  cursor: pointer;
  background-color: #000;
  transition: all .6s ease;

}
.dot:active {
  background-color: #fff;
  transition: all .6s ease;
}

input {
  display: none;
}

#slide1:checked ~ .img1 {
  margin-left: 0%;
}
#slide2:checked ~ .img1 {
  margin-left: -25%;
}
#slide3:checked ~ .img1 {
  margin-left: -50%;
}
#slide4:checked ~ .img1 {
  margin-left: -75%;
}
input:checked + label {
  background-color: #000;
}

.container {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}

#slide1:checked ~ .container .text1 {
  margin-left: 0%;
}
#slide2:checked ~ .container .text1{
  margin-left: -25%;
}
#slide3:checked ~ .container .textWrapper {
  margin-left: -50%;
}
#slide4:checked ~ .container .textWrapper {
  margin-left: -75%;
}